<section class="hero">  
  <div class="hero__content">
    <div class="hero__inner-content">
      <div class="hero__text">
        <h2>
          Hi, I'm Renzo D&iacute;az
          <span class="text-primary">A Full Stack Developer</span>
          9+ Years Building Web Apps That Scale and Delight
          <small>Remote-Ready!</small>
          <img src="<%= image_path "stacks.png" %>" alt="Full-Stack Rails Developer" />
        </h2>
      </div>
      <div class="hero__image">
        <figure>
          <img src="<%= image_path "renzodiaz-developer.jpeg" %>" alt="Renzo Diaz" />
          <figcaption>
            <p>👨🏻‍💻 The code lab! Where code becomes product<p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="about-section__wrapper">
      <h2>Career Timeline</h2>
      <ul class="timeline" data-controller="timeline">
        <% @job_histories.each do |job| %>
          <li class="timeline__item">
            <span><%= job.start_date.strftime("%Y") %></span>
            <div class="card" data-timeline-target="box">
              <figure>
                <% if job.cover.attached? %>
                  <%= image_tag job.cover %>
                <% else %>
                  <img src="https://placehold.co/380x200" alt="Solven" />
                <% end %>
                <figcaption>
                  <h3 class="card__title font-semibold"><%= job.job_title %> at - <a href="<%= job.website_url %>" class="text-red"><%= job.company_name %></a></h3>
                  <p><%= job.description %></p>
                  <button type="button">See my duties:</button>
                </figcaption>
              </figure>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
