<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Renzo Diaz - Website" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.production? %>
      <%= render partial: "layouts/partials/ga" %>
    <% end %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= image_url 'gem.svg' %>" type="image/svg+xml">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-dark" data-controller="modal">
    <%= render partial: "layouts/partials/app_header" %>
    <%= render partial: "layouts/partials/modal" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
